:root {
  /* Global Colors */
  --clr-white: 255, 255, 255;
  --clr-black: 0, 0, 0;

  /* Theme Colors */
  --clr-dark-primary: 255, 255, 255;
  --clr-dark-primary-fg: 16, 16, 16;
  --clr-dark-secondary: 64, 64, 64;
  --clr-dark-secondary-fg: 255, 255, 255;

  --clr-dark-1: 48, 48, 48;
  --clr-dark-2: 40, 40, 40;
  --clr-dark-3: 32, 32, 32;
  --clr-dark-4: 24, 24, 24;
  --clr-dark-5: 16, 16, 16;

  /* Font Sizes */
  --fs-3xl: 1.875rem;
  --fs-2xl: 1.5rem;
  --fs-xl: 1.25rem;
  --fs-lg: 1.125rem;
  --fs-md: 1rem;
  --fs-base: 0.875rem;
  --fs-sm: 0.75rem;

  /* Font Weights */
  --fw-black: 900;
  --fw-extrabold: 800;
  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-medium: 500;
  --fw-normal: 400;
  --fw-light: 300;

  --anim: color 200ms ease, background-color 200ms ease;
  --content-indent: min(1440px, 100% - 4rem);
  --border: 1px solid rgb(var(--clr-white), 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul,
ol,
li {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* @media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} */

body {
  color: rgb(var(--clr-white));
  font-size: var(--fs-base);
  font-weight: var(--fw-normal);
  background-color: rgb(var(--clr-black));
  /* background-image: url(https://i.gifer.com/embedded/download/J8L2.gif);
  background-position: center;
  background-size: cover;
  background-blend-mode: luminosity; */
  /* background-image: radial-gradient(#aaaaff, black); */
}